@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

// $colors: (
//   "blue":       $blue,
//   "indigo":     $indigo,
//   "purple":     $purple,
//   "pink":       $pink,
//   "red":        $red,
//   "orange":     $orange,
//   "yellow":     $yellow,
//   "green":      $green,
//   "teal":       $teal,
//   "cyan":       $cyan,
//   "white":      $white,
//   "gray":       $gray-200,
//   "gray-dark":  $gray-800
// );


$textcolor:#888888;
$theme-color:(
    "primary":#17d4ff,
    
);
.header_logo{
    font-family: 'Pacifico', cursive;
}

.n{
    background: #000 !important;
}
.banner{
    width: 100%;
}
 .a{
    color:$textcolor!important
}
#homelogo{
background-color: #000;

}
.footer{
    background-color:rgb(235, 235, 235);
//   display: flex;
//   flex-direction: column;
// align-items: center;

}
.gr{
    background: linear-gradient( to bottom,rgb(54, 54, 54),rgb(2, 2, 2))!important;
}

@import "node_modules/bootstrap/scss/bootstrap";